 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.insta-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;

}
.insta-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.insta-phone img {
    height: 40rem;
}

.insta-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 39rem;
}
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.5rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 7rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items:baseline;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 8rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    margin-top: 1rem ;
}

.instagram-logout {
    color:#0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);

}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding: 1.3rem 0; 
}

.download {
    display: flex;
    width: 125%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem; 
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("./imagens/boapple.png");
}

.app-download:nth-child(2) {
    background-image: url("./imagens/bogoogleplay.png");
}

@media (max-width: 1024px) {
    .insta-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .insta-wrapper {
        width: 90%;
    }
    .insta-phone {
        display: none;
    }

    .insta-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}